/* Body com as formatações gerais da página */
body {
    background-color: #f2f2f2;
    font-family: 'Arial', Times, serif;
    margin: 0;
    padding: 0;
}


/* Estilo do Cabeçalho */
header {
    background-color: #151516;
    padding-left: 60px;
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: rgba(15, 15, 16, 1.0);
}


/* Formatação do Menu da Página */
*{margin: 0; padding: 0;}

body{
font-family: arial;
font-size: 22px;
text-align: center;
}
.menu{
list-style:none;
float:center;
}
.menu li{
position:relative;
float:left;
}
.menu li a{color:#fff; text-decoration:none; padding:5px 30px; display:block;}

.menu li a:hover{
background:#333;
color:#fff;
border-radius: 5px;
}
.menu li  ul{
position:absolute;
top:35px;
left:0;
background-color:#151516;
display:none;
border-radius: 5px;
}
.menu li:hover ul, .menu li.over ul{display:inline;}

.menu li ul li{
display:inline;  
width:185px;    
text-align: center;
font-size: 18px;
}


/* Formatação dos Slogans do Site */
.slogan img {
    position: absolute;
    top: 425px;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a imagem com base no seu próprio tamanho */   
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.slogan2 img{
    position: absolute;
    top: 1080px;
    left: 50%;  
    transform: translate(-50%, -50%); /* Centraliza a imagem com base no seu próprio tamanho */   
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* Formatação das Imagens */
img {
    border-radius: 8px;
}


                             /* Página Início */
/* ----------------------------------------------------------------------- */

/* Formatação dos textos de Introdução */
.text_introducao{
    width: 80%;
    position: absolute;     
    top: 760px;
    left:390px;
    display: flex;
}
.text_introducao2{
    width: 85%;
    position: absolute;     
    top: 820px;
    left:100px;
    display: flex;
}


/* Formatação do bloco Experiencia FitZone */
.experiencia_fitzone{
    display: flex;
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal (horizontal) */
    width: 60%;
    position: absolute; 
    top: 1350px;
    left:120px;
}
.box_experiencia {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    text-align: center;
    position: relative;
    border-radius: 8px;
    padding-bottom: 10px; 
    margin-right: 10px; 
    margin: 35px; /* Espaço entre as divs "box" */
    border: 2px solid transparent; /* Adicione uma borda transparente */
}
.box_experiencia:hover {
    border: 2px solid #FBBA07; /* Cor e largura da borda ao passar o mouse */
}
.text_experiencia{
    position: absolute; 
    display: flex;
    width: 20%;    
    top: 1300px;
    left:515px;
}
.button_experiencia {
    position: absolute; 
    top: 1650px;
    left: 585px; 
}


/* Formatação do bloco Aulas e Treinos */
.aulas_e_treinos{
    display: flex;
    position: absolute; 
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal (horizontal) */
    width: 50%;
    top: 1795px;
    left: 95px;
}
.box_aulas_treinos{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    text-align: center;
    position:relative;
    border-radius: 8px;
    margin: 60px;
    padding-bottom: 10px; 
    margin-right: 10px; /* Espaço entre as divs "box" */
    border: 2px solid transparent; /* Adicione uma borda transparente */
}
.box_aulas_treinos:hover {
    border: 2px solid #FBBA07; /* Cor e largura da borda ao passar o mouse */
}
.text_aulas{
    position: absolute;
    display: flex;
    width: 60%;     
    top: 1770px;
    left:455px;
    
}
.aulas_treinos {
    position: absolute;
    top: 2295px;
    left: 585px;  
}


                            /* Página Ambientes */
/* ----------------------------------------------------------------------- */


/* Formatação do bloco Sala de Yoga*/
.yoga{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: relative; 
    width: 40%;
    top: 750px;
    left:120px;
    border-radius: 8px;
}   
.equipamentos_yoga{
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal (horizontal) */
    display: flex;
    flex-direction: column;
    position: absolute; 
    width: 40%;
    top: 845px;
    left: 700px;
}
.box_equipamentos_yoga{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position:relative;
    border-radius: 8px;
    margin: 17px;
    border: 2px solid transparent; /* Adicione uma borda transparente */ 
}
.box_equipamentos_yoga:hover {
    border: 2px solid #FBBA07; /* Cor e largura da borda ao passar o mouse */
}
.text_yoga{
    position: absolute; 
    display: flex;
    width: 60%;    
    top: 780px;
    left: 580px;
}


/* Formatação do bloco Musculução */
.musculacao{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: relative;
    width: 40%;
    top: 947px; 
    left:120px;
    border-radius: 8px;
}
.equipamentos_musculacao{
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal (horizontal) */
    display: flex;
    flex-direction: column;
    position: absolute; 
    width: 40%;
    top: 1440px;
    left: 700px;
}
.box_equipamentos_musculacao{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position:relative;
    border-radius: 8px;
    margin: 17px;
    border: 2px solid transparent; /* Adicione uma borda transparente */ 
}
.box_equipamentos_musculacao:hover {
    border: 2px solid #FBBA07; /* Cor e largura da borda ao passar o mouse */
}
.text_musculacao{
    position: absolute; 
    display: flex;
    width: 60%;    
    top: 1380px;
    left: 515px;
}


/* Formatação do bloco Artes Marciais */
.artes_marciais{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: relative; 
    width: 40%;
    top: 1150px;
    left:120px;
    border-radius: 8px;
}
.equipamentos_artes_marciais{
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal (horizontal) */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%; 
    top: 2045px;
    left: 700px;
}
.box_equipamentos_artes_marciais{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position:relative;
    border-radius: 8px;
    margin: 17px;
    border: 2px solid transparent; /* Adicione uma borda transparente */ 
}
.box_equipamentos_artes_marciais:hover {
    border: 2px solid #FBBA07; /* Cor e largura da borda ao passar o mouse */
}
.text_artes_marciais{
    position: absolute;  
    display: flex;
    width: 60%;   
    top: 1980px;
    left: 530px;
}



                    /* Página Modalidades - Yoga */
/* ----------------------------------------------------------------------- */

/* Formatação dos textos */
.text_yoga_modalidades{
    width: 80%;
    position: absolute;     
    top: 760px;
    left:310px;
    display: flex;
}
.text_yoga_modalidades2{
    width: 85%;
    position: absolute;     
    top: 820px;
    left:100px;
    display: flex;
}


/* Formatação do bloco Sala de Yoga*/
.yoga_modalidades{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: relative; 
    width: 40%;
    top: 1280px;
    left:120px;
    border-radius: 8px;
}   
.equipamentos_yoga_modalidades{
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal (horizontal) */
    display: flex;
    flex-direction: column;
    position: absolute; 
    width: 40%;
    top: 1373px;
    left: 700px;
}
.box_equipamentos_yoga_modalidades{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position:relative;
    border-radius: 8px;
    margin: 17px;
    border: 2px solid transparent; /* Adicione uma borda transparente */ 
}
.box_equipamentos_yoga_modalidades:hover {
    border: 2px solid #FBBA07; /* Cor e largura da borda ao passar o mouse */
}
.text_yoga_m{
    position: absolute; 
    display: flex;
    width: 30%;    
    top: 1300px;
    left: 500px;
}


/* Formatação do bloco Demais Informações*/
.saiba_mais{
    display: flex;
    position: absolute; 
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal (horizontal) */
    width: 50%;
    top: 1980px;
    left:200px;
}
.box_saiba_mais{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    text-align: center;
    position:relative;
    border-radius: 8px;
    margin: 10px;
    padding-bottom: 10px; 
    margin-right: 10px; /* Espaço entre as divs "box" */
    border: 2px solid transparent; /* Adicione uma borda transparente */
}
.box_saiba_mais:hover {
    border: 2px solid #FBBA07; /* Cor e largura da borda ao passar o mouse */
}
.text_saiba_mais{
    position: absolute;
    display: flex;
    width: 10%;     
    top: 1900px;
    left:510px;    
}

.slogan_contato img{
    position: absolute;
    top: 1595px;
    left: 50%;  
    transform: translate(-50%, -50%); /* Centraliza a imagem com base no seu próprio tamanho */   
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Botão Começar Agora */
.button_comecar_agora {
    position: absolute;
    top: 2430px;
    left: 570px;  
}


                    /* Página Modalidades - Musculação */
/* ----------------------------------------------------------------------- */

/* Formatação dos textos */
.text_musculacao_modalidades {
    width: 70%;
    position: absolute;     
    top: 760px;
    left:330px;
    display: flex;
}
.text_musculacao_m{
    position: absolute; 
    display: flex;
    width: 50%;    
    top: 1300px;
    left: 500px;
}


                    /* Página Modalidades - Muay Thai */
/* ----------------------------------------------------------------------- */

/* Formatação do Texto */
.text_muaythai_modalidades {
    width: 70%;
    position: absolute;     
    top: 760px;
    left:240px;
    display: flex;
}


                         /* Página Contatos*/
/* ----------------------------------------------------------------------- */


/* Formatação da box da cadastro das informações pessoais*/
.cadastre_sua_info {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    width: 85%; /* Define a largura desejada, neste caso, 80% da página */
    position: absolute; 
    top: 885px;
    left: 105px;
    margin: 50px;
    margin: 0 auto; /* Centraliza a linha de blocos horizontalmente */
    justify-content:center;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cadastre_sua_info2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    width: 85%; /* Define a largura desejada, neste caso, 80% da página */
    position: absolute; 
    top: 1070px;
    left: 105px;
    margin: 50px;
    margin: 0 auto; /* Centraliza a linha de blocos horizontalmente */
    justify-content:center;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text_contato{      
    position: absolute; 
    display: flex;
    width: 60%;    
    top: 780px;
    left: 460px;
}

/* Botões Enviar e Limpar*/
.button_enviar_limpar {
    position: absolute;
    top: 1300px;
    left: 510px;  
}


                             /* Demais Configurações*/
/* ----------------------------------------------------------------------- */


/* Estilo das Fontes */
h1 {
    font-size: 15px;
    color:#4A4B4B; 
}
h2 {                           
    font-size: 35px; /* Fontes h2 e h3 são usadas em conjunto uma com a outra */
    color:#FBBA07; 
    padding-left: 10px;
    margin: 0; /* Para ser possível colocar as duas fontes uma ao lado da outra */
}
h3 {
    font-size: 35px;
    color:#151516; 
    margin: 0;
}
h4 {
    font-size: 20px;
    color:#151516; 
    margin-top: 10px;
}
h6{
    font-size: 15px;
    color:#151516;  
}


/* Formatação dos botões das páginas   */
.cta-button {
    background-color: #D52B1E;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 60px;
    font-size: 15px;
    border-radius: 20px;  
}
.cta-button:hover {
    background-color: #AA2218
}


/* Formatação dos Rodapés */
.footer_inicio {
    background-color: #151516;
    color:#fff;
    position: absolute;     
    top: 2400px;   
    width: 100%; 
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer_ambientes {
    background-color: #151516;
    color:#fff;
    position: absolute;         
    top: 2600px;   
    width: 100%; 
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer_modalidades {
    background-color: #151516;
    color:#fff;
    position: absolute;         
    top: 2550px;   
    width: 100%; 
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer_contato {
    background-color: #151516;
    color:#fff;
    position: absolute;         
    top: 1850px;   
    width: 100%; 
    padding-top: 20px;
    padding-bottom: 20px;
}